.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 84px 50px 86px;
}

.header__menu {
  font-size: 18px;
  font-family: 'Raleway', 'Arial', sans-serif;
}

.header__links-list {
  display: flex;
  gap: 32px;
  padding-bottom: 5px;
  list-style: circle;
}

.header__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
  list-style: none;
}

.address__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.header__logo {
  display: block;
  padding: 7px;
  width: 150px;
}

.address {
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  font-family: 'Raleway', 'Arial', sans-serif;
  line-height: 24.8px;
}

.cover {
  min-height: 758px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  width: 100%;
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Raleway', 'Arial', sans-serif;
  line-height: 120%;
  padding: 164px 20px 0 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding-top: 14px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 15px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover_description {
  display: flex;
  position: relative;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Raleway', 'Arial', sans-serif;
  padding: 105px 50px 50px;
  z-index: 1;
}

.cover__description-text {
  flex-grow: 1;
  color: white;
  word-spacing: 18.5px;
}

.bet-button {
  justify-content: end;
  text-transform: uppercase;
  color: white;
  font-family: 'Raleway', 'Arial', sans-serif;
  position: relative;
  min-width: 256px;
  min-height: 50px;
  background: transparent;
  border: 1px solid white;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Raleway', 'Arial', sans-serif;
  text-transform: uppercase;
  margin-left: 64px;
  margin-bottom: 26px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin: 0 24px 30px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
  position: relative;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  flex-direction: column;
  width: 334px;
  justify-content: space-between;
  height: 100%;
  display: flex;
  color: white;
  font-family: 'Raleway', 'Arial', sans-serif;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  padding: 48px 40px 0;
  line-height: 120%;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.card__text {
  z-index: 1;
  padding: 0 40px 48px;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 64px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.about {
  margin: 146px 29px 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 257px 1fr;
  column-gap: 25px;
  grid-template-areas:
    "logo title"
    ". text";
  align-items: center;
  font-family: 'Raleway', 'Arial', sans-serif;
}

.about__logo {
  display: flex;
  grid-area: logo;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 125px;
}

.about__title {
  grid-area: title;
  font-weight: bold;
  margin-top: 10px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  align-self: start;
}

.footer {
  display: grid;
  grid-template-columns: 240px 1fr min-content;
  align-items: start;
  margin: 181px 50px 80px;
  font-family: 'Raleway', 'Arial', sans-serif;
}

.footer__menu {
  justify-self: center;
  text-align: center;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
